<!-- Major design template for django -->
{% extends 'base.html' %}

{% block content %}

<div class="container-fluid" style="padding-top: 20px">
	<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
				<div class="panel-heading"><span class="glyphicon glyphicon-ok"></span> Congratulations!</div>
				<div class="panel-body">
					<p>You played with <strong>{{user.username}}</strong> in this game with a score of <strong>{{ score }}</strong>!</p>
					<a href="{% url 'game:newgame' game.game_id%}" class="btn btn-primary" type="submit" title="Hit this button to enter a new game">Play Again</a>
					<a href="{%url 'game:feedback' game.game_id%}" class="btn btn-primary" type="submit" title="Hit this button if you wish to logout from GUESSence">Logout</a>
					<p style="margin-top: 15px"><a href="/game/instructions" type="text">Consult Instructions</a></p>
				</div>
			</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% load static %}
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
{% endblock content %}