  <style>
  body {
      position: relative; 
  }
  #section1 {padding-top:50px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;color: #fff; background-color: #673ab7;}
  </style>
<div id="section1" class="container-fluid">
        <p>GUESSence is a two player game where you describe cities in the world ONLY in English please. To turn off the push notifications please logout of the game.</p>

		<p><strong>Describer:</strong> describes a city <strong>ONLY</strong> using adjective/verb + common noun. Please do not use any NAMES including nationalities, languages, cardinal directions, locations, people or organizations.</p>
			
		<p><strong>Guesser:</strong> guesses a city <strong>ONLY</strong> using city names or "no clue" as response.</p>

		<p>The describer starts the game and obtains a city name and a set of words (Taboo words) that may not be used in the game. The guesser submits a city names that s/he thinks is being described. For both roles please do not use numbers and punctuation, such as ":)".</p>

		<p>If you run out of hints/guesses, you can start a new game by hitting "New Game".</p>
</div>
<div id="section2" class="container-fluid">
  <h2>Example Game: Lisbon, Portugal</h2>
        
        <p><strong>Taboo words:</strong> <kbd>fishing</kbd> <kbd>sardine</kbd> <kbd>earthquake</kbd> <kbd>football</kbd> <kbd>history</kbd> <kbd>oil</kbd> <kbd>museum</kbd> <kbd>olives</kbd> <kbd>port</kbd></p>

<pre class="col-xs-12" style="color: #fff; background-color: #673ab7;"> Describer: sun 
	Guesser: Madrid
Describer: nasal vowel
	Guesser: Saint Tropez
Describer: peninsula
	Guesser: Barcelona
Describer: ocean
	Guesser: Lisbon
</pre>	
			<p><strong>Time:</strong> 2 minutes to submit hint/guess</p>
			<p><strong>Timeup: </strong> - 0.5 points on your score</p>
			<p><strong>Score:</strong> successful games + ( 0.1 x number of unsuccessful games)</p>
</div>